<div class="swiper-slide" data-history="{{slug}}">
    <article class="{{post_class}} container article-container {{^if access}}no-access{{/if}}" data-id="{{comment_id}}">
        {{> "post"}}
    </article>
</div>