body {
    margin: 0;
	background-color: #FFF;
}

* {
	user-select: none;
	pointer-events: none;
}

.pagination-number,
.speechkit-container,
* > figure,
svg,
.related-posts,
.tags,
.author,
.has-image,
.post-date,
.reading-time {
	display: none;
}

.post-title {
	color: #000000;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.125;
	text-align: center;
}

.author-name.text-center a {
	color: #363636;
	font-size: 1rem;
	font-weight: 300;
	line-height: 0.5625;
	text-align: center;
}

@media (max-width: 1199px) {
	li,
	p {
		font-size: 18px;
		line-height: 24px;
	}
}

.post-content {
	margin: 1.9cm
}

p {
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: black;
}